.footer {
    background-color: #fff;
    padding: 40px 15px;  
}

.foo .footerMenu a {
    color: #ffffff;
}

.footerMenu {
    max-width: 60%;
    text-align: end;
}

.footerMenu a {
    color:#151515;
    text-decoration: none;
    margin-right: 10px;
}

.footerMenu a:hover {
    color:#c0c0c0;
    transition: .8s;
}
